.footer_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 231px;
    border-top: 1px solid var(--light-greyscale-stroke, #CDD2DD);
    background: var(--light-greyscale-white, #FFF);
    border-radius: 0 0  20px 20px;  z-index: 3;   
    @media (max-width: 375px) {
        height: auto;
    } 
}

.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 375px) {
        flex-direction: column-reverse;
    }
}

.blok_docs{
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 5rem;
    padding: 3rem 0 5rem 4rem;
    @media (max-width: 375px) {
        padding: 8rem 0 5.25rem 0;
        align-items: center;
    }
    &__text{
        color: var(--light-greyscale-text-secondary, #676767);
        font-family: Gilroy;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        padding: 10px;
        cursor: pointer;
    }
}

.footer_left{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-right: 70px;
    @media (max-width: 375px) {
        position: absolute;
        width: auto;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        top: 3rem;
        
    }

    &__logo{
        content: '';
        background-image: url('../../../public/logo.svg');
        width: 148.164px;
        height: 24.188px;
        display: flex;
        @media (max-width: 375px){
            margin-bottom: 10.63rem;
        }
    }
    &__contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 11.875rem;
        height: 1.5rem;
        
    }
    &__icon{
        cursor: pointer;
    }
}

.footer_bottom{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_copyrate{
    width: 18rem;
    height: 1.3rem;
    color: var(--light-greyscale-text-tertiary, #959596);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3rem;
    padding-bottom: 1.5rem;
}